<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Management System</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- for soccial media logo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- social media logo end  -->
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
</head>

<body>
	<!--nav section-->

	<div th:include="nav.html"></div>

	<!--nav section end-->
	
    <!-- instructor section -->

    <!-- instructor section end -->

    <div class="container-fluid py-5">
        <div style="text-align: center;">
            <h1
                style="color: rgb(67, 10, 253); font-weight: bold; border-bottom: 2px dashed rgb(67, 10, 253); display: inline-block; padding-bottom: 5px;">
                Meet Our Instructor
            </h1>
        </div><br>
		<p>"Our trainer is a seasoned professional with years of hands-on experience in the field, 
			ensuring you receive practical insights alongside theoretical knowledge.""Our trainer is a highly 
			experienced professional, with years of hands-on expertise in the field, having worked on numerous
			 real-world projects and leading teams to success. With a deep understanding of industry practices,
			  they bring a wealth of knowledge to the classroom that goes beyond textbooks. Through their
			   comprehensive approach, you will not only gain theoretical knowledge but also learn how to apply
			    these concepts in practical scenarios. Their commitment to delivering an enriching learning
				 experience ensures that you develop the skills and confidence necessary to excel in your career."
			 </p><br>
        
		<div class="row">
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="instructor-item text-center">
                    <img class="img-fluid rounded-circle mb-4" 
					src="images/sarika_maam.png" 
					alt="Instructor 1">
                    <h4 class="mb-0">Sarika Srivastava</h4>
                    <p class="text-muted mb-2">Training Officer</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="instructor-item text-center">
                    <img class="img-fluid rounded-circle mb-4"
                        src="images/nashit_sir.jpg"
                        alt="Instructor 2">
                    <h4 class="mb-0"> Nashit Humam</h4>
                    <p class="text-muted mb-2">Master Trainer</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <div class="instructor-item text-center">
                    <img class="img-fluid rounded-circle mb-4"
                        src="images/ritu_maam.png"
                        alt="Instructor 3">
                    <h4 class="mb-0">Ritu Shukla</h4>
                    <p class="text-muted mb-2">Training Officer</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Footer -->
	
	<div th:insert="footer.html"></div>
   
    <!-- Footer end -->

    <!-- Bootstrap JS Bundle (including Popper.js) -->
    <!-- navbar script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- navbar script end -->
</body>

</html>